
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Usuarios registrados</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="table-responsive">
          <table class="table mt-5">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Tipo de usuario</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.roll }}</td>
                <td>
                  <a href="" class="btn btn-primary btn-sm">Editar</a>
                  <button (click)="deleteUser(user)" class="btn btn-danger btn-sm ml-1">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
