<div class="container">
	<div class="row">
		<div class="col-lg-12 d-flex justify-content-space-around align-items-center">
			<h1 class="mt-5 mr-auto">Lista de Roles</h1>
			<span class="mt-5"><a routerLink="new" class="btn-sm btn btn-success ml-auto">Añadir</a></span>
		</div>
		<div class="col-lg-12">
			<table class="table">
				<thead class="thead-dark">
					<tr class="d-flex">
						<th class="col-md-5" scope="col">#</th>
						<th class="col-md-5" scope="col">Nombre</th>
						<th class="col-md-2" scope="col">Acción</th>
					</tr>
				</thead>
				<tbody >
					<tr class="d-flex" *ngFor="let item of roles">
						<th class="col-md-5" scope="row">{{item?.id}}</th>
						<td class="col-md-5">{{item?.name}}</td>
						<td class="col-md-2"><a class="btn btn-sm btn-primary mr-1" routerLink="edit/{{item?.id}}">Editar</a> <a class="btn btn-sm btn-danger" href="">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>